/* See license.txt for terms of usage */

/* image button*/
.firetv-image-button {
	position:relative !important;
	top: 5px !important;
}
.firetv-image-button {
	height: 25px !important;
	width: 22px !important;
	overflow:hidden !important;
	-moz-binding:
		url(chrome://firetv-ui/content/bindings/bindings.xml#firetv-image-button)
		!important;
	
	-moz-appearance: none !important;
	height: 25px !important;
	display: inline-block !important;
	border: 1px solid #bbb !important;
	padding: 0px 5px 6px 5px !important;
	margin: 0 5px 0 0 !important;
	cursor: pointer !important;
	
	outline: none !important; /* remove focus ring from Webkit */
	line-height: 25px !important;
	color: rgba(255,255,255,0.5) !important;
	background: rgba(248,248,248,0.1) !important;
	border-radius: 6px !important;
}

.firetv-image-button:hover {
	box-shadow: 0 0 3px 1px #EEE !important;
	transition: box-shadow .3s ease-in !important;
}


.firetv-image-button > img {
	position: relative !important;
	top: 1px !important;
	left:-1px !important;
	width: auto !important;
	height: auto !important;
}

.firetv-image-button:hover > img, .firetv-image-button:active > img {
	/*
	position: relative !important;
	top: 1px !important;
	left:-17px !important;
	*/
}
